{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="white-top-bottom"></div>
    <section id="index">
        <div class="wrap-cabinet-button">
            <div class="cabinet-button">
                <span></span>
                <a href="{% url 'profile' %}">Личный кабинет</a>
            </div>
        </div>
        <form class="form-letter needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label">От кого test</label>
                    {{ form.name_from }}
                    <div class="invalid-feedback">
                        Обязательное поле.
                    </div>
                    <div class="form-check mt-1 d-flex flex-nowrap">
                        <label class="form-check-label order-1 " for="check-name_from">
                            отправить не указывая имени отправителя
                        </label>
                        <input class="form-check-input order-2 ms-3" type="checkbox" value="" id="check-name_from">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label">Кому</label>
                    {{ form.name_to }}
                    <div class="invalid-feedback">
                        Обязательное поле.
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Email отправителя</label>
                    {{ form.email }}
                </div>
                <div class="col">
                    <label class="form-label">Адрес получателя</label>
                    {{ form.address }}
                    <div class="invalid-feedback">
                        Обязательное поле.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Дата отправки письма</label>
                    <div class="row">
                        <div class="col d-inline-flex">
                            {{ form.send_date }}
                            <div class="invalid-feedback error-feedback-right">
                                Обязательное поле.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label">Текст письма</label>
                    {{ form.text }}
                    <div class="invalid-feedback">
                        Обязательное поле.
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto mb-3">
                    {{ form.captcha }}
                    <div class="mt-1 text-danger">
                        {{ form.captcha.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Отправить</button>
                </div>
            </div>
            <img src="{% static 'main/img/pen.png' %}" alt="pen">
        </form>
    </section>
    <div class="white-top-bottom"></div>
{% endblock %}
