@import url("/static/custom_users/css/custom_users.css");

html {
    height: 100%;
}

body,
main {
    min-height: 100%;
    background-color: #fff;
}

.alert {
    max-width: 30%;
    top: 15%;
    left: 35%;
}

/* header */

#user-dropdown-menu {
    width: 100%;
}

/* end header */

/* Index Page */

section[id="index"] {
    background: url("../texture/white_wood_texture.avif");
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.white-top-bottom {
    width: 100%;
    height: 30px;
    background-color: #fff;
}

/* cabinet button */

:root {
    --pos: center;
    --size: 0;
}

.wrap-cabinet-button {
    position: absolute;
    top: 3%;
    right: 1%;
    filter: drop-shadow(0px 2px 2px gray);
}

.cabinet-button {
    padding: 10px 10px 10px 25px;
    background-color: #fff;
    cursor: pointer;
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 96%, 10% 50%);
    filter: drop-shadow(0 0 5px black);
}

.cabinet-button span {
    position: relative;
    z-index: 1;
}

.cabinet-button a {
    color: #212529;
    text-decoration: none;
    user-select: none;
}

.cabinet-button a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cabinet-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.1;
    clip-path: circle(var(--size) at var(--pos));
    transition: 0.3s ease-out;
}

.cabinet-button:hover {
    &:before {
        --size: 100px;
    }
}
/* END Cabinet button */

img[alt="pen"] {
    position: absolute;
    height: 500px;
    top: 23%;
    right: -30%;
    transform: rotate(-180deg);
    pointer-events: none;
    z-index: -1;
}

/* form letter */

.form-letter {
    position: relative;
    margin-top: 10%;
    padding: 15px;
    min-width: 935px;
    border: solid 2px gray;
    z-index: 10000;
    margin-bottom: 50px;
    background-color: #fff;
}

.captcha-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.error-feedback {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.error-feedback-right {
    margin-top: 10px !important;
    margin-left: 1rem;
    align-items: center;
}

#id_text {
    resize: none;
}

#id_send_date {
    max-width: 185px;
}

#id_address {
    max-width: 450px;
}

/* end form */

/* end Index Page */

@media (min-width: 1366px) and (max-width: 1400px) {
    .form-letter {
        min-width: 825px;
        margin-top: 10%;
    }

    img[alt="pen"] {
        right: -35%;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .form-letter {
        min-width: 750px;
    }

    img[alt="pen"] {
        right: -35%;
    }
}
